.mitarbeiter-form-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin: 0;
  gap: 1rem;
  
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 2rem;

  mat-form-field {
    width: 100%;
  }
  mat-hint {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.6);
  }

  button {
    color: white;
    transition: background-color 0.3s ease, transform 0.1s ease;
    font-weight: 500;
    min-height: 36px;
    min-width: 140px;
  }

  button.btn-disabled {
    background-color: #c0bdbd !important;
    cursor: not-allowed !important;
    opacity: 0.8;
  }

  button.btn-enabled {
    background-color: #424242 !important;
    cursor: pointer !important;
  }

  button.btn-idle.btn-enabled {
    &:hover {
      background-color: #333333 !important;
    }
  }

  button.btn-success {
    background-color: #388e3c !important;
    cursor: default !important;
    transform: scale(1.02);
  }

  button.btn-error {
    background-color: #d32f2f !important;
    cursor: default !important;
    transform: scale(1.02);
  }

  ::ng-deep .snackbar-error {
    background-color: #d32f2f !important;
    color: white !important;
  }
}
