.table-scroll-container {
      padding: 2rem;
    
      .fte-tabelle {
        width: 100%;
        border-collapse: collapse;
        background-color: #111;
        color: white;
    
        th, td {
          padding: 10px;
          text-align: left;
          font-size: 0.95rem;
          border: 1px solid #333;
          background-color: #111;
          color: white;
        }
    
        .dept-block-header,
        .dept-block-footer,
        .data-row {
          background-color: #111;   
          color: white;             
        }
    
        .fte-positiv,
        .fte-negativ {
          color: white !important;   
          font-weight: normal;     
        }
      }
    }